* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Papyrus;
}

body {
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    width: 100%;
    margin-top: 20px;
}

.content {
    padding: 10px;
    border: 1px solid black;
    overflow: auto;
    background-color: lavender;
    margin: 10px;
    position: relative;
}

.title {
    border: 1px solid black;
    right: 0px;
    top: 0px;
    width: 150px;
    font-size: 175%;
    position: absolute;
    text-align: center;
}

#Tit1 {
    background-color: lemonchiffon;
}

#Tit2 {
    background-color: lightpink;
}

#Tit3 {
    background-color: mediumaquamarine;
}

.text {
    padding: 10px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}


/********** Large devices only (Desktop) **********/

@media (min-width: 992px) {
    section {
        width: 33.33%;
        float: left;
    }
}


/********** Medium devices only (tablet)**********/

@media (min-width:768px) and (max-width: 991px) {
    section {
        width: 50%;
        float: left;
    }
    #section3 {
        width: 100%;
        float: left;
    }
}


/********** Small devices only (phone)**********/

@media (max-width: 767px) {
    section {
        width: 100%;
        float: left;
    }
}